@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #e255ac; */
  box-sizing: border-box;
  @apply bg-gradient-to-br from-blue-400 via-fuchsia-500 to-red-400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myButton {
  @apply px-4 py-2 transition-colors inline-flex gap-2 items-center font-bold bg-fuchsia-500 hover:bg-red-400 text-white self-end;
}

.beyazKutu {
  @apply bg-white shadow-md w-full;
}

h1 {
  font-family: 'Alex Brush', cursive;
  @apply text-3xl  text-fuchsia-700;
}

nav {
  font-weight: 500;
}

/* @media only screen and (min-width: 1500px) {
  body {
    min-height: 100vh;
  }
} */
